.stars {
    width: 100%;
    text-align: center;
}

.pole {
    margin: 0 20% 0 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(fon2.jpg) repeat;
    background-size: 100%;
    overflow: auto;
}

.alltext {
    margin: 0 7% 0 7%;
}

body {
    background:  url(lenta.png) repeat;
    background-size: 15%;
    margin: 0px;

}


.head-link {
    font-size: 1.5vw;
    margin: 0.5em;
    background: url(patron.png) no-repeat; 
    background-size: 100% 100%;
    color: khaki;
    padding: 0.5vw;
}
a.head-link:link{
    color: white;
    text-decoration: none;

}

.links2{
    text-decoration: none;
}

.logo{
    max-width: 4%;
}


.text-justify {
    text-align: justify;
}

.text-index {
    text-align: justify;
}

.pic-text {
    text-align: center;
}

.pic-text::first-letter{
    font-size: 100%;
    padding-left: 0;
}

.links-text:first-letter{
    font-size: 100%;
    padding-left: 0;
}


.big-picture {
    width: 70%;
    margin: 1%;
    border-radius: 20px;
}

.small-picture {
    width: 47%;
    margin: 1%;
    border-radius: 20px;
}

.super-small-picture {
    width: 30%;
    margin: 1%;
    border-radius: 20px;
}

.super-puper-small-picture {
    width:15%;
    margin: 1%;
    border-radius: 20px;
}

.super-puper-duper-small-picture {
    width:10%;
    margin: 1%;
    border-radius: 20px;
}

.small-picture-left-floated
{
    float: left;
}

.small-picture-right-floated
{
    float: right;
}

p:first-letter{
    font-size: 210%;
    padding-left: 1em;
}

.without-big-letter :first-letter{
    font-size: 100%;
    padding-left: 0;
}

 h2{
  margin-bottom: 0; 
  clear: both;
}